
/* Skin */
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(http://recursivity-cms.s3.amazonaws.com/recursivity/files/tab.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
}
.tabs-nav .tabs-selected a {
    color: #000;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;

    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
/*.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
} */




h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #6DA6E2;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  }
#header {
  width: 750px;
  border: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  clear: both;
  }
#header p {
  margin-top: -20px;
  margin-left: 30px;
  color: #999999;
  }

body {
  margin-top: 5px;
  margin-bottom: 30px;
  }

body a {
    color: #27537a;
    text-decoration: none;

}

#container {

  margin: 0 auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.6em;
/*  color: #666666; */
  background-color: #FFFFFF;
  }

body form {
   font-size: 11px;
}

body form input {
   font-size: 11px;
}

body form select {
   font-size: 11px;
}

body form textarea {
   font-size: 11px;
- Hide quoted text -

}


    /**************** footer styles ****************/
    #footer {
      margin-top: 15px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0 auto;
      clear: both;


      background-color:#c3d9ff;
      }

    #footer p {
      color:#27537a;
      padding: 5px;
      text-align: center;
      }

    #footer p a {
      color: #27537a;
      background-color: #c3d9ff;
      font-weight:100;
      border-bottom: 1px dotted #FFFFFF;
      }

    #footer p a:hover {
      color: #27537a;

      border-top: 1px dotted #FFFFFF;
      border-bottom: 0px dotted #FFFFFF;
      }




/* TABLE
     * ========================================================================= */
    table {
      border: 1px solid #888;
      border-collapse: collapse;
      line-height: 1;
      margin: 1em auto;
      width: 100%;


      margin-left: 0px; margin-right: auto;
    }




    /* Caption
     * ------------------------------------------------------------------------- */
    table caption {
      font-size: .9em;
      font-weight: bold;
    }

    /* Header
     * ------------------------------------------------------------------------- */
    table thead {
      background: #c3d9ff url(http://www.recursivity.com/resources/com.recursivity.web.pages.BasePage/bg-table-thead.png) repeat-x top left;

    }

    table thead tr th {
      border: 1px solid #888;
      font-weight: bold;
      padding: .3em 1.67em .1em 1.67em;
      text-align: left;
    }


    /* Body
     * ------------------------------------------------------------------------- */
    table tbody tr td {
      cursor: default;
      padding: .3em 1.5em;

    }

    table tbody tr.even {
      background: #f3f3f3;
    }

    table tbody tr.odd {
      background: #fff;
    }

    table span {
      background-position: center left;
      background-repeat: no-repeat;
      padding: .2em 0 .2em ;/*1.5em;*/
    }


