<h3>Edit Widget</h3>
<ul>
    {{#validationErrors}}
    <li>{{.}}</li>
    {{/validationErrors}}
</ul>
{{#widget}}
<form method="POST" action="/widgets/{{id}}">
<input type="hidden" name="widget.id" value="{{id}}"/>
Id<br/>
{{id}}<br/>
Name<br/>
<input name="widget.name" value="{{name}}"/><br/>

Year Made<br/>
<input name="widget.yearMade" value="{{yearMade}}"/><br/>
Description<br/>
<input name="widget.description" value="{{description}}"/><br/>
<input type="submit" value="Update!"/>
</form>
{{/widget}}

                {{^widget}}
  No Widget :( <br/>
        <a href="/widgets">Go back</a>
{{/widget}}