Welcome to the Sample app! <br/>
        <ul id="links">
            <li><a href="/widgets" id="widgets">Check out our Widgets CRUD example with validation, JSON etc</a></li>
            <li><a href="/composable/" id="composable">Widget listing, but with a composed Layout instead of default layout</a></li>
            <li><a href="/cars/" id="cars">CRUD example with JPA</a></li>
            <li><a href="/people/" id="people">CRUD example with Squeryl</a></li>
        </ul>
