Welcome to the Sample app! <br/>
        <ul>
            <li><a href="/widgets">Check out our Widgets CRUD example with validation, JSON etc</a></li>
            <li><a href="#" onclick="alert('Soon, Grasshopper, soon..')">Composable UI's/layouts example</a></li>
        </ul>
