Welcome to the Sample app! <br/>
        <ul>
            <li><a href="/widgets">Check out our Widgets CRUD example with validation, JSON etc</a></li>
            <li><a href="/composable/">Widget listing, but with a composed Layout instead of default layout</a></li>
        </ul>
