<b>Here's some stuff that isn't available on other pages:</b> <a href="http://www.google.com">Google link</a> |  <a href="http://www.facebook.com">Facebook link</a>
        <hr/>
        {{&doLayout}}
        <hr/>
        <h3>Composition is nice, isn't it?</h3>