<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Bowler Framework Sample Application</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
 <script type="text/javascript">

     function asJson(url){
        $.ajax({
            beforeSend: function(req) {
                req.setRequestHeader("Accept", "application/json");
            },
        type:"GET",
        url: url,
        success: function(data){
            alert("JSON View=" + data);
        }
        });
     }

     function deleteWidget(id){
        $.ajax({
            beforeSend: function(req) {
                req.setRequestHeader("Accept", "application/json");
            },
        type:"DELETE",
        url: "/widgets/" + id,
        success: function(data){
            window.location.href = "/widgets";
        }
        });
     }


     function deletePerson(id){
        $.ajax({
            beforeSend: function(req) {
                req.setRequestHeader("Accept", "application/json");
            },
        type:"DELETE",
        url: "/people/" + id,
        success: function(data){
            window.location.href = "/people/";
        }
        });
     }


     function deleteCar(id){
        $.ajax({
            beforeSend: function(req) {
                req.setRequestHeader("Accept", "application/json");
            },
        type:"DELETE",
        url: "/cars/" + id,
        success: function(data){
            window.location.href = "/cars/";
        }
        });
     }

 </script>


<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="container">
<span ><!-- header panel here --></span>
<div id="header">

<h1 >Bowler Framework</h1>
<p wicket:id="tagline">RESTful Scala Web Framework</p>
</div>

<div>
    <!-- tabs could go here -->
    {{&tabsPanel}}

    </div>
<div class="tabs-container">

    {{&doLayout}}




</div>

        <div id="footer">
<p>
<span wicket:id="copyrightNotice">Copyright &copy; Recursivity limited, 2010-
</p>
</div>


</div>
</body>
</html>