<h3>Widget</h3>
        {{#widget}}
            <b>Id</b><br/>
            {{id}}<br/>
            <b>Name</b><br/>
            {{name}}<br/>
            <b>Year Made</b><br/>
            {{yearMade}}<br/>
            <b>Description</b><br/>
            {{description}}<br/>
        <a href="/widgets">Go back</a>
        {{/widget}}

        {{^widget}}
  No Widget :( <br/>
        <a href="/widgets">Go back</a>
{{/widget}}