

<h3>Create new Widget</h3>

<ul>
    {{#validationErrors}}
    <li>{{.}}</li>
    {{/validationErrors}}
</ul>
{{#widget}}
<form method="POST" action="/widgets">

Id<br/>
<input name="widget.id" value="{{id}}"/><br/>
Name<br/>
<input name="widget.name" value="{{name}}"/><br/>

Year Made<br/>
<input name="widget.yearMade" value="{{yearMade}}"/><br/>
Description<br/>
<input name="widget.description" value="{{description}}"/><br/>
<input type="submit" value="Create!"/>
</form>
{{/widget}}

{{^widget}}
  No Widget :( <br/>
        <a href="/widgets">Go back</a>
{{/widget}}